always-auth=true
@spartacus:registry=https://73554900100900004337.dev.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.dev.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLXJhZDI6dWdOYkZKTVk0dTZQamNZMm5rTmU4bkNxVnhhM2ZaY28=